@model IEnumerable<Examen.ApplicationCore.Domain.Compte>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="index">
    <fieldset>
        <legend> Recherche</legend>
        Saisir un type:


        <select asp-items="Html.GetEnumSelectList<Examen.ApplicationCore.Domain.TypeCompte>()"
                name="tp">
        </select>

        <input type="submit" value="Serach" />
    </fieldset>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCompte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proprietaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BanqueFK)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCompte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proprietaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BanqueFK)
            </td>
                <td>
                    @Html.ActionLink(linkText: "Modifier Banque", actionName: "Edit", controllerName: "Banque", routeValues: new { id = item.BanqueFK }, htmlAttributes: null) |
                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
