@model Examen.ApplicationCore.Domain.Patient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresseEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresseEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateNaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateNaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumDossier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumDossier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumTel)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
